# Arquivos compilados do Maven
# Esta é a pasta mais importante para ignorar
/target/

# Arquivos do IntelliJ IDEA
.idea/
*.iml

# Arquivos de Log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de outras IDEs (do seu .gitignore)
out/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
.vscode/

# Arquivos do Mac OS (do seu .gitignore)
.DS_Store